---
interface Props {
  items?: string[];
  textColor: string;
  text: string;
  hidden?: boolean;
}

const { textColor, text, items, hidden = true } = Astro.props;

const colors = {
  pink: "text-pink",
  blue: "text-[#7B9D94]",
  yellow: "text-[#DF9960]",
  green: "text-[#8FBF83]",
};

const isHidden = hidden ? "hidden" : "";
---

<div class="dropdown-container">
  <button class="dropdown bg-black w-full px-6 py-2">
    <h3
      class={`text-left text-2xl font-black uppercase ${colors[textColor] || "text-cream"}`}
    >
      {text}
    </h3>
  </button>
  <div class={`dropdown-menu ${isHidden}`}>
    {
      items === undefined ? (
        <slot />
      ) : (
        <ul class="ml-4 mt-2">
          {items.map((item) => (
            <li class="text-sm font-libre">{`- ${item}`}</li>
          ))}
        </ul>
      )
    }
  </div>
</div>
