---
const { textColor, text } = Astro.props;

const colors = {
  pink: "text-pink",
  blue: "text-[#7B9D94]",
  yellow: "text-[#DF9960]",
  green: "text-[#8FBF83]",
};
---

<button class="dropdown bg-black w-full px-6 py-2">
  <h3
    class={`text-left text-2xl font-black uppercase ${colors[textColor] || "text-cream"}`}
  >
    {text}
  </h3>
</button>
