---
import LecheDeCoco from "../../images/ingredients/leche-de-coco.astro";
import PastaDeAnacardos from "../../images/ingredients/pasta-de-anacardos.astro";

const { name } = Astro.props;
---

<div>
  {
    name === "Leche de coco" && (
      <LecheDeCoco styles="w-[100px] h-auto aspect-square" />
    )
  }
  {
    name === "Pasta de anacardos" && (
      <PastaDeAnacardos styles="w-[100px] aspect-square" />
    )
  }
</div>
