---
import LecheDeCoco from "../../images/ingredients/leche-de-coco.astro";
import PastaDeAnacardos from "../../images/ingredients/pasta-de-anacardos.astro";

const { name } = Astro.props;
---

{
  name === "Leche de coco" && (
    <div class="">
      <LecheDeCoco styles="w-[100px] h-auto aspect-square" />
    </div>
  )
}
{
  name === "Pasta de anacardos" && (
    <div class="">
      <PastaDeAnacardos styles="w-[100px] aspect-square" />
    </div>
  )
}
