---
import Button from "./Button.astro";

const { src, alt, name, link } = Astro.props;
---

<article class="p-10 border border-black grid place-items-center gap-4">
  <img src={src} alt={alt} />
  <h2 class="text-3xl">{name}</h2>
  <Button text="Saber más" hover="cream" stateDefault="black" link={link} />
</article>
