---
import Button from "./Button.astro";
---

<article class="p-10 border border-black grid place-items-center gap-4">
  <div>Imagen</div>
  <h2 class="text-3xl">Toasted Hazelnut 480ml</h2>
  <Button text="Saber más" hover="cream" stateDefault="black" />
</article>
